
.Hidden {
	display:none;
}

#initImage {
	width: 667px;
	height: 500px;
	background:#000000;
}

#loadingImage {
	width: 667px;
	height: 500px;
	background:#000 url('/images/ajax-loader.gif') no-repeat center;
	
}

#controlArea{
	width:1000px;
	min-height:500px;
}
 
#leftArea {
	width:500px;
	float:left;
}

#rightArea {
	width:500px;
	float:left;
}
